@media (min-width: 768px) {
    .close-button, .menu-mobile {
        display: none;
    }

    body {
        margin: 0px;
        padding: 100px;
    }

    .options-desktop {
        display: flex;
    }

    .options-desktop a {
        text-decoration: none;
        color: black;
        opacity: 0.8;

        margin: 5px;
    }

    header {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .link {
        padding: 5px;
        margin: 0px;
    }

    @keyframes select {
        from {background-color: white;}
        to {background-color: rgb(185, 185, 185);}
    }

    .link:hover {
        background-color: rgb(185, 185, 185);
        animation: select 2s;
    }

    .main-notice-img {
        background-image: url("../assets/images/image-web-3-desktop.jpg");
        width: 98%;
        height: 60%
    }

    main {
        display: flex;
        flex-wrap: wrap;

        height: 100vh;
    }

    .main-notice {
        display: flex;
        flex-wrap: wrap;
        width: 68%;
    }

    .main-notice h1 {
        margin: 0px;
        margin-right: 10px;
        font-size: 5vh;
        width: 45%;
    }

    .main-notice-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.8vh;

        padding-bottom: 10px;
        width: 50%;
    }

    .read-more {
        background-color: rgb(237, 96, 96);
        width: 35%;
        
        text-align: center;
        padding: 15px;
        margin-block: 10px;
    
        color: white;
        text-decoration: none;
    
        text-transform: uppercase;
    
    }

    .new-notice {
        padding: 10px;

        width: 28%;

        background-color: rgb(6, 0, 24);
        color: white;

        display: flex;
        flex-direction: column;
    }

    .new-notice h2 {
        color: rgb(255, 187, 0);
        margin: 5px;
        font-size: 5vh;
    }

    .new-notice h3 {
        margin: 2px;
    }

    .more-notice {
        display: flex;
        margin-top: 20px;
    }

    .more-notice .topic {
        display: flex;
        padding-top: 20px;
        width: 33.33%;
        height: 60%;
    }

    .more-notice .topic img {
        margin: 10px;
        width: 12vw;
        height: 12vw;
    }

    .topic-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topic-infos h2{
        margin: 0px;
        opacity: 0.5;
    } 

    .topic-infos h3 {
        font-size: 1.7vh;
        margin-block: 5px;
    }

    .topic-infos p {
        opacity: 0.7;
        margin: 0px;
        font-size: 1.5vh;
    }

}